<h1 style="text-align: center;">Our Products</h1>
<div class="product-container">
  <app-product-card
    productName="G-Timeless Gucci 1"
    [productPrice]="String(19.99)"
    productImage="assets/product1.jpg">
  </app-product-card>

  <app-product-card
    productName="G-Timeless Gucci 2"
    [productPrice]="String(29.99)"
    productImage="assets/product2.jpg">
  </app-product-card>

  <app-product-card
    productName="G-Timeless Gucci 3"
    [productPrice]="String(39.99)"
    productImage="assets/product3.jpg">
  </app-product-card>
</div>
